


body {
    background-color: rgb(177, 147, 116);
}

 header h1 {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: x-large;
     text-align: center;
     font-weight: bolder;
     color: rgb(141, 24, 125);


 }

 header{
     background-color: rgb(192, 96, 96);
     height: 100px;
     text-align: center;
 }